fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
pydantic==2.11.7
requests==2.32.4


langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-huggingface==0.3.1
langchain-chroma==0.1.3
langchain-core==0.3.72



sentence-transformers==5.0.0
torch==2.7.1


pypdf==5.9.0


loguru==0.7.2


httpx==0.28.1