# Core
fastapi
uvicorn
python-dotenv
pydantic
requests

# LangChain and dependencies
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma

# Embeddings & Models
sentence-transformers
torch

# PDF parsing
pypdf

# Vector store
chromadb

# Logging
loguru

# For testing
httpx
